<template>
  <main>
    <pm-notification v-show="showNotification" >
      <p slot="body">No se encontraron resultados</p>
    </pm-notification>
    <pm-loader v-show="isLoading" />
    <section class="section" v-show="!isLoading">
      <nav class="nav has-shadow">
        <div class="container">
          <input
            type="text"
            class="input is-large"
            v-model="searchQuery"
            placeholder="Buscar canciones"
            @keyup.enter="search" />
          <a href="#" class="button is-info is-large" v-on:click="search" >Buscar</a>
          <a href="" class="button is-danger is-large">&times;</a>
        </div>
        <div class="container">

          <p>
            <small>
              {{ searchMessage }}
            </small>
          </p>
        </div>
        <div class="container results">
          <div class="columns is-multiline">
            <div class="column is-one-quarter" v-for="t in tracks" :key="t.id">
              <pm-track :class="{ 'is-active' : t.id === selectedTrack}" :track="t" v-on:select="setSelectedTrack">
              </pm-track>
            </div>
          </div>
        </div>
      </nav>
    </section>
  </main>
</template>

<script>
import trackService from '@/services/track.js'

import PmTrack from '@/components/Track'
import PmLoader from '@/components/shared/Loader.vue'
import PmNotification from '@/components/shared/Notification.vue'

export default {
  name: 'app',
  components: {
    PmTrack,
    PmLoader,
    PmNotification
  },
  data () {
    return {
      searchQuery: '',
      tracks: [],
      isLoading: false,
      selectedTrack: '',
      showNotification: false
    }
  },

  methods: {
    search () {
      if (!this.searchQuery) { return }
      this.isLoading = true
      trackService.search(this.searchQuery)
        .then(res => {
          this.showNotification = res.tracks.total === 0
          this.tracks = res.tracks.items
          this.isLoading = false
        })
    },
    setSelectedTrack (id) {
      this.selectedTrack = id
    }
  },

  computed: {
    searchMessage () {
      return `Encontrados: ${this.tracks.length}`
    }
  },
  watch: {
    showNotification () {
      if (this.showNotification) {
        setTimeout(() => {
          this.showNotification = false
        }, 3000)
      }
    }
  }

}
</script>

<style lang="scss">

.results {
  margin-top: 50px;
}

.is-active{
  border: 3px #23d160 solid;
}

</style>
